.footer {
    height: 630px;
    position: relative;
    margin-top: 70px;
    padding-bottom: 0;
    iframe {
        display: block;
    }
    &__info {
        height: 270px;
        width: 460px;
        background-color: $main-color;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding: 50px 69px 60px 69px;
    }
    &__addr {
        color: #ffffff;
        font-size: 20px;
        line-height: 20px;
        font-weight: 500;
        text-align: center;
        margin-bottom: 0;
    }
    &__phone {
        color: #ffffff;
        font-size: 20px;
        line-height: 20px;
        font-weight: 700;
        text-align: center;
        display: block;
        margin-top: 36px;
        margin-bottom: 38px;
        text-decoration: none;
        &:hover {
            color: #ffffff;
        }
    }
    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        border: 3px solid #ffffff;
        border-radius: 100%;
        margin: 0 15px;
    }
    &__social {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}